.TodoItem{
    display: inline;
    width: 50%;
    list-style: none;
}

.TodoItem-text{
    display: inline-block;
    background-color: #26798E;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
}


.TodoItem-hecho {
    background-color: #d4d4d4;
    color: rgb(184, 184, 184);
    border-radius: 18px;
    padding: 5px;
    margin-right: 15px;
    margin-left: 12px;
    border: 1px solid black;
    cursor: pointer;
}


.TodoItem-x{
    display: inline-block;
    font-size: 24px;
    ;
    color: rgb(0, 0, 0);
    margin-left: 5px;
    cursor: pointer;
}

.TodoItem-x:hover{
    color: rgb(172, 0, 0);
}